@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    margin: 0;
    min-height: 10vh;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgb(250, 230, 230) 0%, rgb(225, 235, 255) 50%, rgb(250, 230, 230) 100%);
    color: #525252;

  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}